.nav {
  padding: 10px 40px;
  display: flex;
  align-items: center;
}

.nav img {
  width: 80px;
  margin-right: 40px;
}

.nav a {
  padding: 0 20px;
  text-decoration: none;
  color: #000;
}

.banner {
  display: flex;
}

.banner.right .banner-content {
  order: 1;
}

.banner.right .banner img {
  order: 2;
}

.banner img {
  width: 50%;
}

.banner-content {
  width: 50%;
  /* background-color: #dcdada; */
  padding: 50px;
  display: flex;
  align-items: center;
}

.banner h2 {
  margin: 0;
}

.banner h4 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 0 20px 0;
}

.banner p {
  margin: 20px 0;
}

.banner a {
  background-color: #1296a9;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.properties-list {
  /* background-color: #1296a9; */
  padding: 30px 0 60px;
}

.property-card {
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  /* border-radius: 8px; */
  width: 25%;
}

.property-card img{
  width: 100%;
}