.banner {
  display: flex;
}

.banner.right .banner-content {
  order: 1;
}

.banner.right .banner img {
  order: 2;
}

.banner img {
  width: 50%;
}

.banner-content {
  width: 50%;
  background-color: rgb(220, 218, 218);
  padding: 50px;
  display: flex;
  align-items: center;
}

.banner h2 {
  margin: 0;
}

.banner h4 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 0 20px 0;
}

.banner p {
  margin: 20px 0;
}

.banner a {
  background-color: #1296a9;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}
